body {
    background-color: #1E1E24;
  font-family: "Valley Sans", sans-serif;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

h3 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

h4 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

h5 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

h6 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

p.vloeiend-verschijnen {
    font-family: "Valley Sans", sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

@keyframes simpeleFadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-out {
    animation: fadeOut 0.8s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.vloeiend-verschijnen {
    opacity: 0;
    animation: simpeleFadeIn 2s ease-out forwards;
}

.redirect-btn {
    background-color: white;
    color: #1E1E24;
    font-family: "Valley Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.redirect-btn:hover {
    background-color: #1E1E24;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 20px white;
}

.navigatiebalk {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 15px 10px;
    margin-bottom: 20px;
    text-align: left;
}

.navigatiebalk a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: "Valley Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 35px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

.navigatiebalk a:hover {
    transform: translateY(-2px);
    text-decoration: underline;
}

.navigatiebalk a.actieve-pagina {
    text-decoration: underline;
    text-underline-offset: 6px;
}
