body {
    background-color: #1E1E24;
  font-family: "Inter", sans-serif;
}

h1 {
    color: white;
    font-size: 30px;
}

h2 {
    color: white;
    font-size: 25px;
}

h3 {
    color: white;
    font-size: 25px;
}

h4 {
    color: white;
    font-size: 25px;
}

h5 {
    color: white;
    font-size: 25px;
}

h6 {
    color: white;
    font-size: 25px;
}

h7 {
    color: white;
    font-size: 25px;
}

h8 {
    color: white;
    font-size: 25px;
}

h9 {
    color: white;
    font-size: 25px;
}

h10 {
    color: white;
    font-size: 25px;
}
